.navbar {
	border-radius: 0;
	background-color: #000;
	margin-bottom: 0;
	padding: 0;
}

ol, ul {
	padding-left: 25px;
}

.columnWrapper:hover .itemCell {
	border-top-color: #52b5e0;
	border-left-color: #52b5e0;
	border-right-color: #52b5e0;
}

.columnWrapper:hover  .row6 {
	border-bottom-color: #52b5e0;
}

.editorPick .itemCell {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.editorPick  .row6 {
	border-bottom-color: #e4d38d;
}

.editorPick:hover .itemCell {
	border-top-color: #e4d38d;
	border-left-color: #e4d38d;
	border-right-color: #e4d38d;
}

.editorPick:hover  .row6 {
	border-bottom-color: transparent;
}

.columnWrapper {
	padding-left: 0;
	padding-right: 0;
	margin-right: 15px;
}

.itemCell {
	padding: 10px 5px 20px 5px;
	border: 1px solid #d8d7d9;
}

.bestValue .row0 {
	background-color: #52b5e0;
	text-align: center;
	font-weight: bold;
}

.bestValue .row2, .bestValue .row3, .bestValue .row4, .bestValue .row5 {
	background-color: #c9e8f6;
	border-bottom-color: #BABABA;
	position: relative;
}

.bestValue .row5 {
	border-bottom: none;
}

.row1, .row2, row3 {
	cursor: pointer;
}

.bestValue .row5:after {
	z-index: -1;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	content: '';
	width: 0;
	height: 0;
	border-top: solid 10px #c9e8f6;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
}

.bestValue .row0:after {
	content: "Best Value";
	line-height: 22px;
}

.editorPick .row0 {
	background-color: #7D7D7D;
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.editorPick .row2, .editorPick .row3, .editorPick .row4, .editorPick .row5
	{
	background-color: #d8d7d9;
	border-bottom-color: #BABABA;
	position: relative;
}

.editorPick .row5 {
	border-bottom: none;
}

.editorPick .row5:after {
	z-index: -1;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	content: '';
	width: 0;
	height: 0;
	border-top: solid 10px #d8d7d9;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
}

.editorPick .row0:after {
	content: "Editor Pick";
	line-height: 22px;
}

.editorPick {
	border: 3px solid #e4d38d;
}

.editorPick div.row1 {
	height: 219px;
	padding-top: 7px;
}

.editorPick div.row6 {
	height: 177px;
}

.row0 {
	height: 22px;
}

.row1 {
	height: 222px;
	border-bottom: 3px solid #4c4c4c;
	text-align: center;
}

.row1 .title {
	font-size: 15px;
	font-weight: bold;
	color: #4c4c4c;
}

.row1 .subtitle {
	font-size: 13px;
	color: #4c4c4c;
}

.row1 a span {
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
	color: #3A589D;
	line-height: 12px;
}

.row1 .imgWrapper {
	height: 125px;
}

.row1 img {
	max-width: 110px;
	max-height: 125px;
}

.row2, .row3 {
	height: 50px;
	border-top: none;
}

.row2 .title, .row3 .title {
	font-size: 17px;
	font-weight: bold;
	color: #4c4c4c;
	margin: 0;
	line-height: 1;
}

.row2 .subtitle, .row3 .subtitle {
	font-size: 11px;
	color: #4c4c4c;
}

.row4, .row5 {
	height: 115px;
	border-top: none;
}

.row4 li, .row5 li {
	font-size: 22px;
	line-height: 15px;
	margin-bottom: 0;
}

.row4 li span, .row5 li span {
	font-size: 13px;
}

.row6 {
	height: 180px;
	border-top: none;
	padding-top: 20px;
}

.row6 .deal_name, .row6 .deal_price {
	padding: 0;
}

.row6 a {
	color: #52b5e0;
	font-size: 13px;
}

.row6 span {
	font-weight: bold;
}

.row6 a.deal_name:after {
	content: ".....................";
	color: #4c4c4c;
}

.row6 a.deal_name:after:hover {
	color: #4c4c4c;
	text-decoration: none;
	cursor: normal;
}

.bestDealBtn {
	margin-bottom: 20px;
}

.bestDealBtn img {
	max-width: 100%;
}

.bestDealBtn:hover {
	opacity: 0.7;
}

.bestPrice {
	font-size: 17px;
	color: #000;
}

.descriptions {
	color: #52b5e0;
	font-size: 15px;
	font-weight: bold;
	padding: 0;
}

.descriptions .row1 {
	height: 221px;
}

.descriptions>div {
	border: 1px solid #d8d7d9;
	border-bottom: none;
	text-align: center;
	padding-top: 10px;
	line-height: 1;
}

.descriptions>.row0 {
	border: none;
}

.descriptions>div:last-child {
	border: 1px solid #d8d7d9;
}

.descriptions .subtitle {
	font-size: 11px;
	color: #52b5e0;
}

/*photo slider*/
.hide-bullets {
	list-style: none;
	margin-left: -40px;
	margin-top: 20px;
}

.thumbnail {
	padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 100%;
}

.columnsContainer {
	margin-bottom: 60px;
	padding-right: 0;
}

#slider {
	padding-left: 0;
}

.carousel-control.left, .carousel-control.right {
	opacity: 0;
	transition: all 1s;
}

.carousel-control:focus, .carousel-control:hover {
	opacity: 0.3;
	transition: all 1s;
}
/*Notes*/
.note .header {
	height: 38px;
	color: #fff;
	padding-left: 40px;
	line-height: 38px;
	font-size: 15px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.note .noteTitle {
	height: 32px;
}

.note .title {
	font-size: 25px;
	font-weight: bold;
}

.note .subtitle {
	font-size: 13px;
}

.stars {
	height: 100%;
	display: table;
	width: 60px;
}

.stars .star {
	display: table-cell;
	background-image: url(../images/stars.png);
	background-repeat: no-repeat;
}

.stars .fullStar {
	background-position: -1px bottom;
}

.stars .halfStar {
	background-position: -15px bottom;
}

.stars .emptyStar {
	background-position: -30px bottom;
}

.note .bodyNote {
	font-size: 13px;
	text-align: justify;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: auto;
}

.note .review .title {
	font-size: 13px;
	font-weight: bold;
}

.note .review {
	padding-left: 50px;
}

.note .review>div {
	padding: 0;
}

.note .review i {
	color: gray;
	font-size: 18px;
	padding-right: 7px;
}

.note .review ul {
	list-style: none;
	padding: 5px 0 0 0;
	border-bottom: 1px solid #d8d7d9;
}

.note .review ul li {
	border-top: 1px solid #d8d7d9;
	padding-top: 3px;
	padding-bottom: 3px;
}

.note .review ul li span {
	padding-left: 20px;
	font-size: 13px;
}

.bestValueNote .header {
	background-color: #52b5e0;
}

.bestValueNote .header:after {
	content: "Best Value";
}

.editorPickNote .header {
	background-color: #89898B;
}

.editorPickNote .header:after {
	content: "Editor Pick";
}

.noteWrapper {
	display: table;
}

.noteWrapper>div {
	display: table-cell;
}

/*fix height gallery*/
.carousel-inner .active, .carousel-inner .next.left, .carousel-inner .prev.right
	{
	height: 100%;
}

.carousel-inner .item img {
	max-width: 100%;
	width: auto;
	height: 100%;
	margin: auto;
}

.thumbnail img {
	max-height: 100%;
}

.bestOffer {
	height: 100px;
	border-top: 5px solid gray;
	border-bottom: 5px solid gray;
}

.bestOffer .title:after {
	font-size: 13px;
}

.editorPickNote .bestOffer .title:after {
	content: "Editor Pick - Best Price";
}

.bestValueNote .bestOffer .title:after {
	content: "Best Value";
}

.bestOffer .prodBtn {
	height: 50%;
	border-radius: 3px;
}

.bestOffer .prodBtn a {
	height: 100%;
	line-height: 2;
	color: white;
	font-size: 2rem;
	text-shadow: 1px 1px 1px #333;
}

.bestOffer .prodBtn:hover {
	text-decoration: none;
}

.bestOffer .vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.bestOffer .price {
	height: 100%;
	line-height: 0.5;
}

.bestOffer .price span {
	font-size: 34px;
}

.greenBtn {
	background: #74d107; /* Old browsers */
	background: -moz-linear-gradient(top, #74d107 0%, #2c8202 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #74d107 0%, #2c8202 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #74d107 0%, #2c8202 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74d107',
		endColorstr='#2c8202', GradientType=0); /* IE6-9 */
}

/*footer*/
.footer {
	height: 60px;
	line-height: 60px;
}

.footer li a {
	line-height: 20px;
	white-space: nowrap;
}

@media ( max-width : 768px) { /*Mobile xs*/
	.pageTitle {
		color: #4c4c4c;
		font-size: 2.75rem;
	}
	.editorPick {
		border: none;
		border-top: 3px double #d8d7d9;
	}
	.editorPick div.itemCell, div.itemCell {
		border: none;
		border-bottom: 1px solid #d8d7d9;
		height: auto;
		overflow: hidden;
	}
	.columnWrapper>div:first-child {
		border-top: 3px double gray;
	}
	.columnsContainer {
		padding: 0;
		margin: 0;
	}
	.columnWrapper {
		margin: 0;
	}
	.row1 {
		text-align: left;
		height: auto;
		overflow: hidden;
	}
	.row1 .title {
		font-size: 19px;
	}
	.row1 .subtitle {
		font-size: 11px;
	}
	.row1 .seeBtn {
		background: #66a936; /* Old browsers */
		background: -moz-linear-gradient(top, #66a936 0%, #227a00 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(top, #66a936 0%, #227a00 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #66a936 0%, #227a00 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66a936',
			endColorstr='#227a00', GradientType=0); /* IE6-9 */
		max-width: 100%;
	}
	.row1 .seeBtn a span {
		color: #fff;
		text-decoration: none;
		font-size: 1.2rem;
	}
	.row1 .seeBtn a:hover {
		text-decoration: none;
	}
	.row1 .editorPickLbl {
		width: 80px;
		height: 14px;
		background-image: url(../images/editorPickLabel.png);
	}
	.stars {
		display: block;
		width: 60px;
	}
	.stars .star {
		display: table-cell;
		height: 15px;
		width: 10px;
		float: left;
	}
	.rank {
		background-image: url(../images/circle-mobile.png);
		height: 50px;
		width: 50px;
		text-align: center;
	}
	.rank:after {
		content: "8.5";
		font-weight: normal;
		text-align: center;
		line-height: 50px;
	}
	.row6 a.deal_name:after {
		content: "...........";
		color: #4c4c4c;
	}
	.note .review {
		padding-left: 15px;
	}
	.noteTitleMobile {
		font-size: 15px;
		font-weight: bold;
		border-bottom: 3px solid;
		padding-bottom: 5px;
		margin-bottom: 10px;
		margin-top: 10px;
		color: #4c4c4c;
	}
	.footer {
		height: auto;
		line-height: 1.4;
		font-size: 11px;
	}
	.footer .col-xs-12.pull-right {
		float: left !important;
		text-align: left;
	}
}

@media ( min-width : 768px ) { /*Tablet sm*/
	.navbar-brand {
		height: 60px;
	}
}

@media ( min-width : 990px ) { /*Screen md*/
	.navbar-brand {
		height: 60px;
	}
}

@media ( min-width : 1200px) { /*Screen lg*/
	.navbar-brand {
		height: 60px;
	}
}